*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}

.titulo{
    padding: 40px;
    text-align: center;
    font-size: 40px;
    color: #f2f2f2;
}

nav ul{
    width: 80%;
    margin: auto;
    border-radius: 10px;
    list-style-type: none;
    background-color:#425863;
}

nav li{
    display: inline-flex;
}

nav a {
    padding: 20px;
    width: 150px;
}

nav ul a:hover {
    background-color: aliceblue;
}


footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 1rem 4%;
    background-color:rgb(44, 42, 51);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top-right-radius: 50px;
    border-start-start-radius: 50px;
}

.orden{
    display: flex;
    justify-content: space-between;
}

.content1{
    position: relative;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    color: rgba(255, 255, 255, 0.76);
    width: 60%;
    margin:40px 50px;
    padding: 15px 15px;
    border-radius: 15px;
    background-color:#425863;
}
.imgg{
    padding: 20px 20px;
    border-radius: 15px;
    background-color:rgb(47, 49, 47);
    width: 380px;
    height: 320px;
    margin:40px 50px;
    
}
body {
    position: relative;
    min-height: 100vh;
    transition: 0.5s;
    padding-bottom: 15rem;
    font-family: "Poppins", sans-serif;
    background-image: url(https://i.pinimg.com/564x/79/26/f8/7926f85485117e8d62fa15b631eaee61.jpg);
    
}

.logos{
    height: 80px;
    margin-bottom: 1rem;
}

.iconos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.social{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 3px solid #f2f2f2;
    background-image: url(https://www.pngkey.com/png/full/911-9119774_facebook-icon-logo-facebook-blanco-png.png);
    
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;
    transition: .6s;

}

.social:hover{
    background-color: #121212;
    filter: invert(1);
    
}

.social:nth-of-type(2){
    background-image: url(https://jrodp.files.wordpress.com/2014/04/logo-ipn-blanco.png);
    image-resolution: 569 1300;
}

.social:nth-of-type(3){
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/57/X_logo_2023_%28white%29.png);
}