* {
    margin: 0%;
    padding: 0%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #006734;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
   : space-between;
    width background-color: #006734;
}

.title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aliceblue;
    text-align: center;
    margin-top: 50px;
    width: 1100px;
    height: 40px;
    background-color: #99E89D;
    border-radius: 50%;
}

.index {
    width: 170px;
    height: 130px;
    background-color: #73C884;
    border-radius: 5%;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 40px;
    position: absolute;
    top: 2em;
    font-style:italic;
}

.content {
    display: flex;
    align-items: right;
    margin-top: 500x;
    margin-left: 275px;
    text-align: justify;
    width: 60%;
    padding: 0;
    background-color: #26884F;
    border-radius: 0%;
    width: 800px;
    height: 170px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.image1 {
    margin-left: 40px;
    max-width: 100%;
    height: auto;
}
.bottom {
    display: flex;
    align-items: right;
    margin-left: 40px;
    margin-top: 60px ;
    text-align: justify;
    width: 90%;
    padding: 0;
    background-color: #26884F;
    border-radius: 0%;
    width: 1060px;
    height: 160px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.image2 {
    margin-right: 40px;
    max-width: 100%;
    height: auto;
}

